---
layout: page
title: Opportunities
---

<p>
  We currently have {{ site.data.opportunities | size }} opportunities available!
</p>

{% for opportunity in site.data.opportunities %}
  <h2>{{ opportunity.title }}</h2>
  <p>{{ opportunity.description }}</p>

  {% if opportunity.contact.name %}
    {% if opportunity.contact.email %}
      Contact: <a href="mailto:{{ opportunity.contact.email }}">{{ opportunity.contact.name }}</a>
    {% else %}
      Contact: {{ opportunity.contact.name }}
    {% endif %}
  {% endif %}

  <hr />
{% endfor %}
