---
layout: default
title: Opportunities
---

<div class="container opportunities">
  <div class="row page-header">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Opportunities</h1>
      <p class="lead">Interesting jobs, internships, and projects for CSC members.</p>
    </div>
  </div>

  {% if site.data.opportunities %}
    {% for opportunity in site.data.opportunities %}
      <div class="row opportunity">
        <div class="col-sm-10 col-sm-offset-1">
          <header>
            <h2>{{ opportunity.title }}</h2>

            <ul class="meta">
              {% if opportunity.category %}
                <li>{{ opportunity.category }}</li>
              {% endif %}
              {% if opportunity.contact %}
                <li>
                  <a href="mailto:{{ opportunity.contact.email }}">
                    <i class="fa fa-envelope-o"></i> {{ opportunity.contact.name }}
                  </a>
                </li>
              {% endif %}
            </ul>
          </header>

          <p>{{ opportunity.description }}</p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="blank-slate">Sorry, nothing’s available right now. Keep checking — we’ll add available opportunities regularly.</p>
  {% endif %}
</div>
