$footer-height: 48px;
$footer-padding: 25px;
$push-height: $footer-height + (2 * $footer-padding);
$darker-gray: darken($gray-lighter, 10%);

body,
html {
  background: linear-gradient(to bottom, darken(#0b5195, 5%),  #236db4) fixed;
  font-size: 18px;
  height: 100%;
}

hr {
  border-top: 1px solid $darker-gray;
}

blockquote {
  border-left: 5px solid $darker-gray;
  font-size: .9em;
}

.page-header {
  border-bottom: 0;
  margin-bottom: 40px;
  margin-top: 0;

  h1 {
    margin-top: 0;
  }
}

.wrapper {
  height: 100%;
  height: auto !important;
  margin: 0 auto;
  margin-bottom: -$push-height;
  min-height: 100%;
}

.push {
  height: $push-height;
}

.footer {
  background: $gray-lighter;
  color: $gray;
  padding: $footer-padding 0;
  text-align: center;

  p:last-child {
    margin-bottom: 0;
  }
}

.section-header {
  font-size: 1.5em;
}

.event-column {
  hr {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }
}

.slackin {
  margin-top: 2em;
  text-align: center;
}

.media-container {
  font-size: 5em;
  text-align: center;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;

  .contact-segment {
    padding: .5em 1em;
  }
}

.job-list-item {
  border-bottom: 1px solid $darker-gray;
  padding-bottom: 1em;

  &:last-child {
    border-bottom: 0;
  }

  .last-updated {
    font-size: .85em;
  }
}
