<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <title>
    {% if page.title %}
      Pitt CSC - {{ page.title }}
    {% else %}
      Pitt CSC
    {% endif %}
  </title>

  <link rel="stylesheet" href="/assets/css/site.css">

  <script type="text/javascript" src="./assets/js/jquery.js"></script>
  <script type="text/javascript" src="./assets/js/bootstrap.js"></script>
</head>
<body>
  <header class="masthead">
    <div class="insignia">
      <div class="logo">
        <i class="fa fa-desktop"></i>
      </div>
      <div class="text">
         <h1>
           Pitt CSC
         </h1>
         <h2>Computer Science Club</h2>
      </div>
    </div>

    <nav class="navbar navbar-main-menu" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/opportunities">Opportunities</a></li>
            <li><a href="/officers">Officers</a></li>
            <li><a href="/">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  {{ content }}

  <footer class="mastfoot">
    <div class="container">
      <p>Copyright © 2014 Pitt CSC. All rights reserved.</p>

      {% comment %}
        This statement is required by Pitt SORC: http://www.studentaffairs.pitt.edu/sorccertificationguide.
      {% endcomment %}
      <p>Pitt CSC is a certified student organization at the University of Pittsburgh.</p>
    </div>
  </footer>
</body>
</html>
