<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <title>Pitt CSC</title>

  <link rel="stylesheet" href="/assets/css/site.css">
  <script type="text/javascript"
          src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="./assets/js/bootstrap.js"></script>
</head>
<body>
  <header class="masthead">
    <div class="container">
      <div class="logo">
        <i class="fa fa-desktop"></i>
      </div>
      <div class="text">
         <h1>
           Pitt CSC
         </h1>
         <h2>Computer Science Club</h2>
      </div>
    </div>
  </header>

  {% include navbar.html %}

  {{ content }}
</body>
</html>
