---
layout: page
---

<div class='contact-info'>

  {% if page.website %}
    <div class='contact-segment'>
      <i class='fa fa-home'></i>
      <a target='blank' href='http://{{ page.website }}'>{{ page.website }}</a>
    </div>
  {% endif %}

  {% if page.contact %}
    <div class='contact-segment'>
      <i class='fa fa-user'></i>
      {{ page.contact }}
    </div>
  {% endif %}

  {% if page.email %}
    <div class='contact-segment'>
      <i class='fa fa-envelope'></i>
      <a href='mailto:{{ page.email }}'>{{ page.email }}</a>
    </div>
  {% endif %}

  {% if page.phone %}
    <div class='contact-segment'>
      <i class='fa fa-phone'></i>
      {{ page.phone }}
    </div>
  {% endif %}

</div>

{{ content }}

